<h3> View {{employee.firstName}} Details Bellow</h3>
<div class="border border-success" style="background: rgb(46, 128, 161);">
    <div>
        <label> <b> First Name : </b></label> {{employee.firstName}}
    </div>
    <div>
        <label> <b> Last Name : </b></label> {{employee.lastName}}
    </div>
    <div>
        <label> <b> Email Id : </b></label> {{employee.emailId}}
    </div>
    <div>
        <label> <b> Gender : </b></label> {{employee.gender}}
    </div>
    <div>
        <label> <b> Date of Birth : </b></label> {{employee.dob}}
    </div>
    <div>
        <label> <b> Qualification : </b></label> {{employee.qualification}}
    </div>
    <div>
        <label> <b> Disability : </b></label> {{employee.disability}}
    </div>
</div>
<br>