.border{
    font-style: italic;
    color: white;
    padding: 20px;
    font-size: 25px;
    /* padding: 30px; */
    padding-left:90px; 
}
.border{
   margin-left: 90px;
   /* padding: 30px; */
   
   padding-left:20px; 


}
h3{
    /* padding: 30px; */
    padding: 30px;
    padding-left:90px; 
}
