<div class="col-md-6 offset-md-3">
    <h3> Update Employee </h3>
    <form (ngSubmit) = "onSubmit()">
            <div class="form-group">
            <label> Companies</label>
            <input type="text" class ="form-control" id = "companies"
                [(ngModel)] = "employee.companies" name = "companies">
        </div>
            <div class="form-group">
                    <label> Question_Category</label>
                    <input type="text" class ="form-control" id = "questionCategory" 
                        [(ngModel)] = "employee.questionCategory" name = "questionCategory">
                </div>
            
                <div class="form-group">
                    <label> Questions</label>
                    <input type="text" class ="form-control" id = "questions"
                        [(ngModel)] = "employee.questions" name = "questions">
                </div>
        
                <div class="form-group">
                    <label> Comment</label>
                    <input type="text" class ="form-control" id = "comment"
                        [(ngModel)] = "employee.comment" name = "comment">
                </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 