<div class="col-md-6 offset-md-3">
    <!-- <h3> Add Questions </h3> -->
    <form (ngSubmit) = "onSubmit()">
        <h2>Please select the options</h2><hr>
        <label><input type="radio" name="optradio">IT</label>&nbsp;&nbsp;&nbsp;
        <label><input type="radio" name="optradio">BFSI</label>&nbsp;&nbsp;&nbsp;
        <label><input type="radio" name="optradio">HR</label><hr>
            <div class="form-group">
            <label> Company Name</label>
            <input type="text" class ="form-control" id = "companies"
                [(ngModel)] = "employee.companies" name = "companies" placeholder="Please enter the company name">
        </div>
    
        <div class="form-group">
            <label> Question Category</label>
            <input type="text" class ="form-control" id = "questionCategory" 
                [(ngModel)] = "employee.questionCategory" name = "questionCategory" placeholder="Please enter the question category">
        </div>
    
        <div class="form-group">
            <label> Questions</label>
            <input type="text" class ="form-control" id = "questions"
                [(ngModel)] = "employee.questions" name = "questions" placeholder="Please enter the question">
        </div>

        <div class="form-group">
            <label> Comment</label>
            <input type="text" class ="form-control" id = "comment"
                [(ngModel)] = "employee.comment" name = "comment" placeholder="Please type if any comments?">
        </div>

        <button class = "btn btn-success" type ="submit">Submit</button><br><br>
    
    </form>
    </div> 